.kdmr.document-wide
  %h3 Profile
  .user
    = form_for @user do |f|
      %div URI
      = f.text_field :site, :style=>'width: 740px;'
      %br
      %div{:style=>"margin-top: 0.5em;"} Description
      = f.text_field :description, :style=>'width: 740px;'
      = f.submit '変更', :onclick=>'return confirm("Are You Sure?");'

%ul#sites.sites-dashboard.kdmr
  %h3 #{@user.screen_name}'s Sites
  - @user.sites.reverse.each do |site|
    %li.site
      %div
        = site.title
        = 'ブログ、またはフィードのURIを追加: ' unless site.uri?
      %div
        = form_for site do |f|
          = f.text_field :uri, :style=>'width: 740px;'
          = f.submit site.uri?? '変更': '追加', :onclick=>'return confirm("Are You Sure?");'
        - unless site.uri.nil?
          = form_for site, :html=>{:method=>:delete} do |f|
            = f.submit '削除', :onclick=>'return confirm("Are You Sure?");'
      .info

