<div class="kdmr document-wide">
  <h3 style="padding-top: 0em;">Profile</h3>
  <div class="user">
    <%= form_for @user do |f| %>
      <div style="margin-top: 0.5em;">URI</div><%= f.text_field :site, :style=>'width: 600px;' %><br/>
      <div style="margin-top: 0.5em;">Description</div><%= f.text_field :description, :style=>'width: 600px;' %>
      <%= f.submit '変更', :onclick=>'return confirm("Are You Sure?");' %>
    <% end %>
  </div>
</div>
<ul id="sites" class="sites kdmr" style="width: 800px;">
  <h3 style="padding-top: 0em;"><%= @user_info['screen_name'] %>'s Sites</h3>
  <% @user.sites.reverse.each do |site| %>
    <li class="site">
    <div>
      <%= site.title %>
      <%= 'RSSまたはAtomフィードのURIを追加: ' unless site.uri? %>
    </div>
    <div>
      <%= form_for site do |f| %>
        <%= f.text_field :uri, :style=>'width: 600px;' %>
        <%= f.submit site.uri?? '変更': '追加', :onclick=>'return confirm("Are You Sure?");' %>
      <% end %>
      <% unless site.uri.nil? %>
        <%= form_for site, :html=>{:method=>:delete} do |f| %>
          <%= f.submit '削除', :onclick=>'return confirm("Are You Sure?");' %>
        <% end %>
      <% end %>
    </div>
    <div class="info">
    </div>
    </li>
  <% end %>
</ul>


