<div id="segmentation">
  <ul id="amount" class="kdmr" style="width: 800px;">
    <% @user.sites<<Site.new
       @user.sites.reverse.each do |site| %>
      <li class="site">
        <div class="title">
          <%= site.title %>
        </div>
        <div class="title">
          <%= form_for site do |f| %>
            <%= f.text_field :uri, :style=>'width: 550px;' %>
            <%= f.submit site.uri?? 'Update': 'Create' %>
        <% end %>
        <% unless site.uri.nil? %>
        <%= form_for site, :html=>{:method=>:delete} do |f| %>
            <%= f.submit 'Destroy' %>
        <% end %>
      <% end %>
        </div>
        <div class="info">
        </div>
      </li>
    <% end %>
  </ul>
</div>


