<ul id="sites" class="sites kdmr" style="width: 800px;">
  <h3 style="padding-top: 0em;">フィードを選択してください</h3>
  <% flash[:feeds].to_a.each do |feed| %>
    <li class="site">
    <div>
      <%= form_for @site do |f| %>
        <a href="<%= feed.last %>" target="_blank"><%= feed.first %> <span class="info">(<%= feed.last %>)</span></a>
        <%= f.hidden_field :uri, :value=>feed.last, :style=>'width: 600px;' %>
        <%= f.submit '選択', :onclick=>'return confirm("Are You Sure?");' %>
      <% end %>
    </div>
    </li>
  <% end %>
</ul>
