.document
  %h2 RSSSとは
  %p 
    最近Webのどの辺を彷徨いているのかを1日ごとに更新して公開します。
    自分のブログなどが配信しているフィードをいくつか登録しておくことで、最近のブログ更新を可視化します。以下のような特徴があります。
  %ul
    %li 登録しているサイト一覧を評価結果順に表示します
    %li ここ1ヶ月くらいの更新の推移をグラフ表示します
    %li 登録しているサイトのフィードを一括で配信します
  .image= image_tag 'sample_summaries.png'
  
  %h3 サイトの評価
  %p 
    1日あたりの更新回数と更新量から、各サイトが最近どれほど更新されているかを評価します。
    評価結果はサイトの文字色(更新頻度)と文字サイズ(更新量)、表示順(更新頻度+更新量)に反映されます。
    更新頻度が高いほど明るい色で表示され、更新量(文字数)が多いほど大きな文字で表示されるので、よく更新しているサイトほど目立ちます。
  .image= image_tag 'sample_activity.png'

  %h3 ここ1ヶ月の推移
  %p 
    1日毎に更新した各サイトの評価結果がグラフ表示されます。
  .image= image_tag 'sample_graph.png'

  %h3 使いかた
  %p 
    %a{:href=>"/auth"}ここ
    からTwitterのOAuthでログインすると、Dashboardに移動します。
    このDashboardから追加のプロフィールや自分のサイトを登録します。
    サイトの登録フォームには、フィードのURLの他にブログのURLをそのまま入れることができます。
  .image
    .item= image_tag 'sample_oauth.png'
    ↓
    .item= image_tag 'sample_dashboard.png'

  %h3 バグ/その他
  %p
    %ul
      %li RSS1.0, RSS2.0, Atomに対応していますが、ときどきフィードの取得に失敗することがあります
      %li 永遠に取得できないフィードがあるかもしれません
      %li Twitterで認証します(Readonly: TwitterへのPOST/DM送受信などは行いません)
      %li 1日一回の更新なので最大24時間分のタイムラグがあります
      %li 
        Github:
        %a{:href=>"https://github.com/hibariya/rsss", alt: 'RSSS'} RSSS
      %li 
        Auther: 
        %a{:href=>"http://twitter.com/hibariya", alt: 'hibariya'} @hibariya (pussy_cat)
      %li 
        Font:
        %a{:href=>"http://www.fontsquirrel.com/fonts/Furore", alt: 'Furore'} Furore
      %li 
        Graph generator: 
        %a{:href=>"http://bluff.jcoglan.com/", alt: 'Bluff'} Bluff
