- unless @category_entries.empty?
  - content_for :head do
    %link{:rel=>"alternate", :type=>"application/rss+xml", :title=>"RSS", :href=>[user_page_path(@focus_user.screen_name), "/#{params[:category]}.xml"].join}

#content
  .category_cover
    %ul.recent_entries.kdmr
      %h3 
        最近のエントリ(
        = params[:category].downcase
        )
        - unless @category_entries.empty?
          %a{:title=>"RSS Feed", :href=>[user_page_path(@focus_user.screen_name), "/#{params[:category]}.xml"].join}
            %img{:src=>'/images/rss.png', :alt=>'RSS Feed', :style=>'border: none;'}
      - @category_entries.each do |entry|
        %li.entry
          .title
            %a{:href=>entry.link, :target=>"_blank", :title=>entry.title, :style=>'color: green;'}= entry.title
          %div.info
            - unless entry.image_sources.empty?
              %div
                %div{:style=>'text-align:right;'}= entry.categories.join(',')
                %img{:src=>entry.image_sources.first}
            = string_limit entry.content.gsub(/<[^>]+>/, ''), 200
 
