<!DOCTYPE html>
<html>
<head>
  <title>Rsss</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'js_class' %>
  <%= javascript_include_tag 'bluff' %>
  <%= javascript_include_tag 'excanvas' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
  <!--
    i = 0;
    setInterval("crsr()", 500);
    function crsr(){
      document.getElementById("bcrsr").innerHTML = i==1 ? '_' : '&nbsp;';
      i = i==1 ? 0 : 1;
    }
  //-->
  </script>
</head>
<body>
<div id="head">
  <h1>RSSS: RSS Summaries</h1>
</div>
<div class="kdmr note-wide">
  <%= link_to 'Sign in with Twitter', '/auth' %>   
</div>
<div id="foot">
  <%= link_to 'RSSS', '/' %>
  =>
  <a href="http://github.com/hibariya/rsss" target="_blank">http://github.com/hibariya/rsss<span id="bcrsr">_</span></a>
</div>
</body>
</html>
