- content_for :pager do
  = paginate @users
  .clear

#content
  = yield :pager
  %ul#users
    %h3 ユーザー
    - @users.each do |user|
      %li
        %img.icon{:src => user.auth_profile.profile_image_url, :alt => user.screen_name}
        .title
          %a{:href => user_page_path(user), :title => user.screen_name}
            = user.auth_profile.screen_name
            (
            = user.auth_profile.name
            )
        .info
          = link_to "#{user.sites.length} 個のフィード", user_page_path(user), :title => user.screen_name
        .info
          = user.auth_profile.description
  = yield :pager

