- content_for :head do
  %link{:href => user_page_path(@user, 'rss'), :title => "RSS", :rel => "alternate", :type => "application/rss+xml"}

#content
  #first_content
    #profile
      %h3
        = twitter_link @user
        %a{:href => user_page_path(@user, 'foaf'), :title => 'FOAF'}
          %img{:src => '/images/foaf8015.gif'}

      - if @user.has_profile?
        .massive= user_site_link @user if @user.site?
        .massive= @user.description

    %ul#sites
      %h3 最近更新しているサイト
      - @user.sites_by_score.each do |site|
        %li.site
          .title{:class => "size_as_#{site.volume_score}"}
            = site_link site
            %span.info= "#{score(site.score)}%"
            .info
              = site.domain
              = upbeat_or_downbeat site
            %ul.entries
              - site.entries_each do |entry|
                %li= entry_link entry

    #associates
      %h3 近くのRSSS
      %ul
        - @user.associates_by_score(10).each do |associate|
          %li
            = associate_link associate
            .info #{associate.associate.score.round}個のカテゴリが一致
      .clear

  #second_content
    #history_gruff
      %h3 ここ一ヶ月の推移(更新量+更新頻度)
      %canvas#histories

    #categories
      %h3 最近つけたタグ/カテゴリ
      %div
        - @user.categories_by_frequency(30).each do |category|
          = category_link category

    %ul#recent_entries
      %h3 
        最近のエントリ
        %a{:title => "RSS Feed", :href => user_page_path(@user, 'rss')}
          %img{:src => '/images/rss.png', :alt => 'RSS Feed'}
      - @user.entries[0..10].each do |entry|
        %li.entry
          .title
            = entry_link entry
          %div.info
            - unless entry.image_sources.empty?
              %div
                %img{:src => entry.image_sources.first}
            = string_head html_to_tooltip(entry.content), 200

:javascript
  var g               = new Bluff.Line('histories', '410x280');
  g.hide_title        = true;
  g.font              = 'Helvetica';
  g.hide_dots         = true;
  g.hide_line_numbers = true;
  g.line_width        = 3.5;
  g.dot_radius        = 0;
  g.theme_pastel();
  g.replace_colors(#{raw(color_codes.inspect)});

  #{raw(graph_data_codes(@user.sites))}
  g.labels = {1: '30 days ago', 29: 'now'};
  g.draw();

