- content_for :head do
  %link{:href => user_page_path(@user, 'xml'), :title => "RSS", :rel => "alternate", :type => "application/rss+xml"}

#content
  .sites_cover
    - if @user.has_profile?
      .profile.kdmr
        %h3
          = twitter_link @user
        - if @user.site?
          .massive
            = user_site_link @user
        .massive= @user.description

    %ul.sites.kdmr
      %h3 最近更新しているサイト
      - @user.sites_by_score.each do |site|
        %li.site
          .title{:class => "size_as_#{site.volume_score}"}
            = site_link site
            %span.info= "#{score(site.score)}%"
            .info
              = site.domain
              = upbeat_or_downbeat site
            .info.right
              %div
                - site.entries[0..3].each do |entry|
                  = entry_link entry
                  %br

    - if @user.categories?
      .categories.kdmr
        %h3 最近つけたタグ/カテゴリ
        %div
          - @user.categories_by_frequency(30).each do |category|
            = category_link category

    - if @user.associates?
      .associates.kdmr
        %h3 近くのRSSS
        %ul
          - @user.associates_by_score(10).each do |associate|
            %li
              .associate= associate_link associate
              .info #{associate.associate.score.round}個のカテゴリが一致

  .sides_cover 
    .gruff.kdmr
      %h3 ここ一ヶ月の推移(更新量+更新頻度)
      %canvas#histories

    - if @user.sites?
      %ul.recent_entries.kdmr
        %h3 
          最近のエントリ
          %a{:title => "RSS Feed", :href => user_page_path(@user, 'xml')}
            %img{:src => '/images/rss.png', :alt => 'RSS Feed'}
        - @user.entries[0..10].each do |entry|
          %li.entry
            .title
              = entry_link entry
            %div.info
              - unless entry.image_sources.empty?
                %div
                  %img{:src => entry.image_sources.first}
              = string_head html_to_tooltip(entry.content), 200

:javascript
  var g               = new Bluff.Line('histories', '410x280');
  g.hide_title        = true;
  g.font              = 'Helvetica';
  g.hide_dots         = true;
  g.hide_line_numbers = true;
  g.line_width        = 3.5;
  g.dot_radius        = 0;
  g.theme_pastel();
  g.replace_colors(#{raw(color_codes.inspect)});

  #{raw(graph_data_codes(@user.sites))}
  g.labels = {1: '30 days ago', 29: 'now'};
  g.draw();

