!!!
%html
  %head
    %title RSSS | ERROR
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %link{:rel => "icon", :type => "image/png", :href => "/favicon.png"}
  %body
    #head
      %h1 RSSS: ERROR
    %div{:style=>"clear: both;"}
    = render :partial => 'layouts/menu'
    = render :partial => 'layouts/footer'
    = render :partial => 'layouts/analytics'

