%ul#sites.sites-dashboard.kdmr
  %h3{:style => "padding-top: 0em;"} #{@site.detects.count} 個のフィード
  - @site.detects.each do |site|
    %li.site
      %div
        = form_for site do |f|
          %a{:href => site.site_uri, :target => "_blank"}
            = site.title
            %span.info (#{site.uri})
          = f.hidden_field :uri
          = f.submit '選択', :onclick => 'return confirm_dialog()'

- content_for :head do
  :javascript
    var confirm_dialog = function(){
      return confirm("Are You Sure?")
    }

