#foot
  #foot_menu
    %ul
      %li= link_to 'WHATIS', '/'
      %li= link_to 'UPDATES', '/updates'
      %li= link_to 'USERS', users_path

    #credit
      = link_to 'RSSS', '/'
      BY 
      = link_to 'HIBARIYA', 'http://twitter.com/hibariya'
      ( 
      %a{:href=>"http://github.com/hibariya/rsss", :target=>"_blank"} GITHUB
      )

