.kdmr.note-wide
  %span.menu
    = menu_about_link

  - if signed_in? 
    %span.menu
      = menu_mypage_link
    %span.menu
      = menu_dashboard_link
    %span.menu
      = link_to 'SIGNOUT', '#'

  - else
    %span.menu
      = link_to 'SIGN IN WITH TWITTER', '/auth/twitter'

- if flash[:volatile]
  .kdmr.notice.volatile= flash[:volatile]

- if flash[:error]
  .kdmr.notice.error= flash[:error]

- if flash[:notice]
  .kdmr.notice= flash[:notice]

