#menu
  %ul
    %li= 'ABOUT'
    %li= 'MY PAGE'
    %li= 'DASHBOARD'
    %li= 'SIGNOUT'
    %li= 'SIGN IN WITH TWITTER'
#notices
  - if flash[:notice_volatile]
    #notice_volatile= flash[:notice_volatile]
  - if flash[:notice]
    #notice= flash[:notice]
