.kdmr.note-wide
  %span.menu
    = 'ABOUT'
  %span.menu
    = 'MY PAGE'
  %span.menu
    = 'DASHBOARD'
  %span.menu
    = 'SIGNOUT'
  %span.menu
    = 'SIGN IN WITH TWITTER'

- if flash[:notice_volatile]
  .kdmr.notice.volatile
    = flash[:notice_volatile]

- if flash[:notice]
  .kdmr.notice
    = flash[:notice]
