%ul#menu
  %li= menu_about_link

  - if signed_in? 
    %li= menu_mypage_link
    %li= menu_dashboard_link
    %li= link_to 'SIGNOUT', '#'
  - else
    %li= link_to 'SIGN IN WITH TWITTER', '/auth/twitter'

- if [:volatile, :error, :notice].any?{|n| flash[n] }
  #notices
  - if flash[:volatile]
    .volatile= flash[:volatile]
  
  - if flash[:error]
    .error= flash[:error]
  
  - if flash[:notice]
    .notice= flash[:notice]

