!!!
%html
  %head
    %title RSSS | RSS Feed Summaries
    = stylesheet_link_tag :all
    = javascript_include_tag 'js_class'
    = javascript_include_tag 'bluff'
    = javascript_include_tag 'excanvas'
    = csrf_meta_tag
    %link{:rel=>"icon", :type=>"image/png", :href=>"/favicon.png"}
  %body
    #head
      %h1 RSSS: RSS Summaries
      %div{:style=>"clear: both;"}
    = render :partial=>'layouts/menu'
    = yield
    = render :partial=>'layouts/footer'
    = render :partial=>'layouts/analytics'

