!!!
%html
  %head
    %title RSSS | Dashboard
    = stylesheet_link_tag :all
    = javascript_include_tag 'js_class'
    = javascript_include_tag 'bluff'
    = javascript_include_tag 'excanvas'
    = csrf_meta_tag
    %link{:rel=>"icon", :type=>"image/png", :href=>"/favicon.png"}
  %body
    #head
      %img.icon{:src=>@user.profile_image_url}
        %h1 Dashboard
      %div{:style=>"clear: both;"}
        .description #{@user.screen_name}(#{@user.oauth_name})
        .description #{@user.oauth_description}

    = render :partial=>'layouts/menu'
    = yield
    = render :partial=>'layouts/footer'
    = render :partial=>'layouts/analytics'
