<!DOCTYPE html>
<html>
<head>
  <title>Rsss</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'js_class' %>
  <%= javascript_include_tag 'bluff' %>
  <%= javascript_include_tag 'excanvas' %>
  <%= csrf_meta_tag %>
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>
<div id="head">
  <img src="<%= @user_info['profile_image_url'] %>" class="icon" /><h1>Dashboard</h1>
  <div style="clear: both;"></div>
  <div class="description"><%= @user_info['screen_name'] %>(<%= @user_info['name'] %>)</div>
  <div class="description"><%= @user_info['description'] %></div>
</div>
<div class="kdmr note-wide">
  <span class="menu"><%= action_name=='index'? 'Dashboard': link_to('Dashboard', '/dashboard') %></span>
  <span class="menu"><%= link_to 'My Summaries', '/'+@user_info['screen_name'] %></span>
  <span class="menu"><%= link_to 'Signout', '/auth/signout' %></span>
</div>

<% if flash[:notice] %><div class="kdmr notice"><%= flash[:notice] %></div><% end %>
  
<%= yield %>

<div id="foot">
  <div class="kdmr note-wide" style="width: 100%; text-align: right;">
    <%= link_to 'RSSS', '/' %>
    Developed by 
    <%= link_to 'HIBARIYA', 'http://twitter.com/pussy_cat' %>
    ( in <a href="http://github.com/hibariya/rsss" target="_blank">Github</a> )
  </div>
</div>
</body>
</html>
