!!!
%html
  %head
    %title RSSS | DASHBOARD
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'js_class'
    = javascript_include_tag 'bluff'
    = javascript_include_tag 'excanvas'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %link{:rel=>"icon", :type=>"image/png", :href=>"/favicon.png"}
    = yield :head
  %body
    #head
      %img.icon{:src=>session_user.profile_image_url}
        %h1 DASHBOARD
      %div{:style=>"clear: both;"}
        .description= "#{session_user.screen_name}(#{session_user.oauth_name})"
        .description= session_user.oauth_description

    = render :partial=>'layouts/menu'
    = yield
    = render :partial=>'layouts/footer'
    = render :partial=>'layouts/analytics'
