<!DOCTYPE html>
<html>
<head>
  <title>RSSS | <%= @user_info['screen_name'] %>'s RSS Summaries</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'js_class' %>
  <%= javascript_include_tag 'bluff' %>
  <%= javascript_include_tag 'excanvas' %>
  <%= csrf_meta_tag %>
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>
<div id="head">
  <img src="<%= @user_info['profile_image_url'] %>" class="icon" /><h1><%= @user_info['screen_name'] %>'s RSS Summaries</h1>
  <div style="clear: both;"></div>
  <div class="description"><%= @user_info['screen_name'] %>(<%= @user_info['name'] %>)</div>
  <div class="description"><%= @user_info['description'] %></div>
</div>

<% if flash[:note] %><div class="kdmr notice"><%= flash[:notice] %></div><% end %>

<%= yield %>

<div id="foot">
  <div class="kdmr note-wide" style="width: 100%; text-align: right;">
    <%= link_to 'RSSS', '/' %>
    Developed by 
    <%= link_to 'HIBARIYA', 'http://twitter.com/pussy_cat' %>
    ( in <a href="http://github.com/hibariya/rsss" target="_blank">Github</a> )
  </div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-17476908-3']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
</script>
</body>
</html>
