!!!
%html
  %head
    %title= "RSSS | #{@focus_user.screen_name}'s RSS Summaries"
    = stylesheet_link_tag :all
    = javascript_include_tag 'js_class'
    = javascript_include_tag 'bluff'
    = javascript_include_tag 'excanvas'
    = csrf_meta_tag
    %link{:rel=>"icon", :type=>"image/png", :href=>"/favicon.png"}
  %body
    #head
      %img.icon{:src=>@focus_user.profile_image_url}
      %h1 
        #{@focus_user.screen_name}'s RSS Summaries
      %div{:style=>"clear: both;"}
      .description
        = @focus_user.screen_name
        (#{@focus_user.oauth_name})
        
      .description
        = @focus_user.oauth_description
    = render :partial=>'layouts/menu'
    = yield
    = render :partial=>'layouts/footer'
    = render :partial=>'layouts/analytics'

