!!!
%html
  %head
    %title= "RSSS | #{@focus_user.screen_name}"
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'js_class'
    = javascript_include_tag 'bluff'
    = javascript_include_tag 'excanvas'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %link{:rel=>"icon", :type=>"image/png", :href=>"/favicon.png"}
    = yield :head
  %body
    #head
      %a{:href=>twitter_uri(@focus_user.screen_name), :title=>@focus_user.screen_name}
        %img.icon{:src=>@focus_user.profile_image_url, :alt=>@focus_user.screen_name, :style=>'border: none;'}
      %h1 
        %a{:href=>user_page_path(@focus_user.screen_name), :title=>@focus_user.screen_name}
          = "#{@focus_user.screen_name.upcase}'S RSS SUMMARIES"
      %div{:style=>"clear: both;"}
      .description
        %a{:href=>twitter_uri(@focus_user.screen_name), :title=>@focus_user.screen_name, :style=>'text-decoration:none;'}
          = @focus_user.screen_name
          = "(#{@focus_user.name})"
        
      .description
        = @focus_user.description
    = render :partial=>'layouts/menu'
    = yield
    = render :partial=>'layouts/footer'
    = render :partial=>'layouts/analytics'

