<!DOCTYPE html>
<html>
<head>
  <title>Rsss</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'js_class' %>
  <%= javascript_include_tag 'bluff' %>
  <%= javascript_include_tag 'excanvas' %>
  <%= csrf_meta_tag %>
  <link rel="icon" type="image/png" href="/favicon.png" />
</head>
<body>
<div id="head">
  <img src="<%= @user_info['profile_image_url'] %>" class="icon" /><h1><%= @user_info['screen_name'] %>'s RSS Summaries</h1>
  <div style="clear: both;"></div>
  <div class="description"><%= @user_info['screen_name'] %>(<%= @user_info['name'] %>)</div>
  <div class="description"><%= @user_info['description'] %></div>
</div>

<% if flash[:note] %><div class="kdmr notice"><%= flash[:notice] %></div><% end %>

<%= yield %>

<div id="foot">
  <%= link_to 'RSSS', '/' %>
  =>
  <a href="http://github.com/hibariya/rsss" target="_blank">http://github.com/hibariya/rsss</a>
</div>
</body>
</html>
