!!!
%html
  %head
    %title RSSS | #{@user.screen_name}
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js'
    = javascript_include_tag 'js_class'
    = javascript_include_tag 'bluff'
    = javascript_include_tag 'excanvas'
    = javascript_include_tag 'application'
    = csrf_meta_tag
    %link{:rel => "icon", :type => "image/png", :href => "/favicon.png"}
    %link{:rel => "meta", :title => 'FOAF', :type => "application/rdf+xml", :href => user_page_path(@user, 'foaf')}
    = yield :head
  %body
    #head
      %a{:href => twitter_uri(@user), :title => @user.screen_name}
        %img.icon{:src => @user.auth_profile.profile_image_url, :alt => @user.screen_name}
      %h1 
        = link_to "#{@user.screen_name.upcase}'S RSS SUMMARIES", user_page_path(@user), :title => @user.screen_name
      %div.clear
      .description
        = link_to "#{@user.screen_name}(#{@user.name})", twitter_uri(@user), :title => @user.screen_name
      .description
        = @user.auth_profile.description
    = render :partial=>'layouts/menu'
    = yield
    = render :partial=>'layouts/footer'
    = render :partial=>'layouts/analytics'

